@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


*{
    margin: 0%;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header,.footer{
    background-color: #00b300;
    font-family: "Red Hat Display", sans-serif;
    color: white;
    text-align: center
}


.header{
    font-size: 2rem;
}

.main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbar{
    background: #00b300;
    color: white;
    padding:20px;
    min-width:300px
}

.text{
    color:#ccc;
    font-size:0.8rem;
    margin-bottom:2px;
}

.amount_holder{
    font-size: 2rem;
}



.form{
    background-color:#ccc;
    padding:20px;
}

.form p {
    font-size: 1.4rem;
    margin-bottom:10px;
}

label, input{
    display: block;
}